*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 2vw 10.4vw;
    width: 100%;
    justify-content: space-between;


}
.nav-part2{
    display: flex;
    gap: 2vw;
}
.nav-part2 h4{
    font-size:0.8vw ;
    font-weight: 400;
    text-transform: uppercase;
}
#nav-bottom{
    /* background-color: red; */
    height: 0%;
    position: absolute;

    width: 79%;
    bottom: 0%;
    border-bottom: 1px solid #dadada;
    transition: all ease 0.65s;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 2vw; */
    padding: 2vw 15vw;
    padding-left: 18.5vw;
    padding-top: 3vw;

}
.bottom-div{
    /* background-color: red; */

}
.bottom-div h5{
    /* background-color: red; */
    overflow: hidden;
    margin-bottom: 0.4vw;
}
.bottom-div h5 span{
    font-weight: 500;
    font-size: 0.75vw;
    display: inline-block;
 
}
nav:hover #nav-bottom{
    /* background-color: red; */
    height: 100%;
    bottom: -100%;


}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    


}
#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;

}
#page1 h1 svg{
    width: 6vw;
    height: 6vw;
    background-color: green;
    border-radius:50% ;
}
#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}
#page1-something{
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1-something h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid #a5a5a5;
    border-radius: 50px;
    margin-top: 0.5vw;
}
#page1-something h4:nth-last-child(2){
    border: none;
    padding: 2px;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    
}
